/* Add CSS Styling */
#two{
    color:blue;
    font-size: 32px;
}

.odd{
    background-color: rgb(231, 174, 174);
    font-family: Verdana, 'DejaVu Sans',sans-serif;
}

.cool{
    font-size: 24px;
}

#four{
    background-color: green;
    font-size: 24px;
    font-weight: bold;
}