body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 600px;
  background: #fff;
  margin: 16px auto;
  padding:20px;
 
  
}

.title {
  display: block-inline;
  margin-top:20px;
  margin-bottom:20px;
  background: #e3f4ff;
  padding-top:20px;
  padding-bottom:20px;
  padding-left:10px;
  padding-right:auto;

  
}

.content {
  background: #e3f4ff;
  margin-bottom: 10px;
  padding-top:20px;
  padding-bottom:20px;
  padding-left:10px;
  padding-right:10px;
  font-size: 24px;
}

.button-container {
  background: #e3f4ff;
  margin-bottom: 10px;
  text-align: center;
  padding-top:20px;
  padding-bottom:20px;
  padding-left:200px;
  padding-right:200px;
  font-size: 24px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
  padding-bottom:10px;
  font-size:24px;
  width:200px;
  margin-right:40px;
}